* {
  box-sizing: border-box;
}

:root {
--dark: #343a40;
--light: #f8f9fa;
--midlight: #e9e6e9;
}

body {
  margin: auto;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font: var(--dark)
}

p {
  margin-bottom: 5px;
  font-weight: 300;
  line-height: 1.5;
}

a {
  color: var(--light);
  text-decoration: none;
}

a:hover {
  border-bottom: 5px solid var(--dark);
  font-weight: lighter;
}



/* navbar  */

#navbarNav {
  justify-content: flex-end;
}


/* jumbotron  */

.jumbotron {
  position: relative;
  margin-bottom: 50px;
}

.jumbotron::before {    
  content: "";
  background-image: url("../images/jumbotronbckground.jpg");
  background-size: cover;
  background-position: center;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
}

.jumbotronFlex {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  align-items: center;
  opacity: 100%;
}

#profileImage {
  border: 3px solid var(--midlight);
  border-radius:var(--borderRadius);
  width: 200px;
  height: 200px;
  position: relative;
}

.jumbotronText {
  color: var(--dark);
  text-align: center;
  position: relative;
  font-style: italic;
  font-weight: bold;
}

.jumbotronText p {
  text-shadow: 0.1px 0px var(--dark);
}


/* work portfolio  */

.titleGrid {
  text-align: center;
  margin-bottom: 20px;
}

.portfolioGrid {
  gap: 2em;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


/*  skills section  */

.skillsContainer {
  background-color: var(--midlight);
  padding: 40px 20px 20px 20px;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;

  gap: .5em;
  margin-bottom: 50px;
}


/*  contact section   */

.aboutMe {
  margin-bottom: 50px;
}

.contactMe {
  background-color: var(--midlight);
}

.btn-success {
  color: #fff;
  background-color: var(--dark);
  border-color: (var(--dark));
}


/*  footer  */

.footerBk {
  background-color: var(--dark);
  padding: 40px;
  color: var(--light);
  display: flex;
  justify-content: space-between;
  gap: 1em;
  font-weight: bold;
}

#footerText {
  display: flex;
  gap: 1em;
  font-weight: bold;
}